/* tabs CSS */
.tabs-wrapper {
  background: var(--white-color);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 33px;
  position: relative;

  & .btn-tab-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -7px;
    right: 0;
  }

  @media screen and (max-width: 1108px) {
    & .btn-tab-actions {
      position: static;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      padding-bottom: 44px;
    }
  }

  @media screen and (max-width: 508px) {
    & .btn-tab-actions {
      flex-direction: column;
      width: 100%;

      & .btn {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  & .btn-add-new-tab {
    background: transparent;
    border: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: var(--transition);
    transform: translateY(0);

    &:hover {
      transform: translateY(-3px);
    }
  }

  @media screen and (max-width: 800px) {
    & .btn-add-new-tab {
      position: absolute;
      bottom: 0;
      margin-left: 0;
    }
  }
}

.tab-btn {
  padding: 7px 35px 9px;
  border: 1px solid var(--primary-color);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--bg-gray);
  cursor: pointer;
  transition: var(--transition);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 23px;
}

.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.tabs-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: var(--white-color);
  border: 1px solid var(--primary-color);

  & .form-table {
    padding: 13.5px 19px 11.5px 22px;
    border-radius: var(--radius);
    border: 1px solid var(--primary-color);
    position: relative;
    & th {
      padding-bottom: 5px;
    }
    & th:first-child {
      min-width: 70px;
    }
    & td {
      padding-top: 6px;
      border-top: 1px solid var(--black-color);
    }

    & .icon {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(8px, 0);
    }
  }

  & .accordion-btn {
    display: none;
  }

  @media screen and (max-width: 1025px) {
    & .accordion-btn {
      display: block;
    }
  }
}
.select-filter {
  width: 214px;
}

.x-y-axis-value {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;

  & .has-tool-tip {
    margin-bottom: 14px;
  }
}

.form-properties {
  padding-left: 15px;
  padding-right: 44px;
}

.btn-chart-item {
  max-width: 260px;
  width: 100%;
}

.content-grid__item-wrapper {
  margin-top: 48px;
  padding-left: 11px;
  padding-right: 11px;
}

.table-apply-composition {
  width: 100%;
  /* max-width: 404px; */
  & th {
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }
  & td {
    font-size: 14px;
    padding: 8px 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  & td input[type='number'] {
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    text-align: center;
    width: 56px;
    height: 25px;
    min-height: 25px;
    padding: 3px 5px;
    text-indent: 7px;
    color: var(--primary-color);
    font-size: 14px;
  }

  @media screen and (max-width: 1100px) {
    & th {
      font-size: 14px;
      font-weight: 700;
    }

    & td input[type='number'] {
      text-indent: 0;
    }
  }
}

.chart-figure-thumb {
  margin-top: 90px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
/* hide content */
.content {
  display: none;

  & .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
  }

  & .content-grid__item {
    border-right: 1px solid var(--primary-color);
    padding-bottom: 70px;
    &:last-child {
      border-right: none;
    }

    &:last-child .content-grid__item-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 384px;
    }

    @media screen and (max-width: 1025px) {
      &:last-child .content-grid__item-wrapper {
        max-width: 100%;
        text-align: center;
      }

      & .chart-figure-thumb {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
      }

      & .chart-figure-thumb img {
        margin: 0 auto;
      }
    }
  }
  & .heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 14px 20px;
    background-color: var(--bg-gray-dark);
    margin: 24px 0 20px;
  }
  &.active {
    display: block;
  }
}

.tab-btn.active {
  background: var(--white-color);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white-color);
  }
}

/* end tabs CSS */

/* tooltip CSS */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--white-color);

  & svg {
    max-width: none;
  }
  &:hover .tooltip-pop {
    visibility: visible;
    opacity: 1;
  }

  & .tooltip-pop {
    visibility: hidden;
    min-width: 150px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    border-radius: var(--radius);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 8px 10px;
    font-size: 14px;
    transform: translate(-50%, 18px);

    &::after {
      content: '';
      position: absolute;
      top: calc(0% - 10px);
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--primary-color) transparent transparent transparent;
      transform: rotate(180deg);
    }
  }
}
/* end tooltip CSS */

/* mobile accordion CSS */
@media screen and (max-width: 1025px) {
  .for-mobile-accordion {
    display: none;
  }

  .tabs-content .heading {
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    width: 96%;
    margin: 20px auto;
  }

  .minus-icon {
    display: none;
  }

  .plus-icon {
    display: inline;
  }

  .show-text {
    & .for-mobile-accordion {
      display: block;
      padding-bottom: 40px;
    }

    & .minus-icon {
      display: inline;
    }

    & .plus-icon {
      display: none;
    }
  }

  .content-grid.mobile-accordion .content-grid__item {
    padding-bottom: 0;
    border: 0;
  }
}
/* end mobile accordion CSS */

/* modal CSS */
.modal-btn-trigger {
  /* margin-top: 2rem;
  background: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  color: var(--clr-white); */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-overlay);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;

  & .chart-legends {
    position: absolute;
    top: 14%;
    right: 7%;
    margin-bottom: 20px;
  }
  & .chart-legend {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 3px 0;
  }
  &.open-modal {
    visibility: visible;
    z-index: 10;
  }
  & figure {
    margin-bottom: 17px;
  }
  & .modal-container {
    background: var(--white-color);
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    padding: 85px 38px 47px 83px;
    max-width: 1134px;
    position: relative;
    border: 2px solid var(--primary-color);
    overflow-y: auto;
  }
  & .close-btn {
    position: absolute;
    top: 37px;
    right: 32px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
  }
  & .close-btn:hover {
    transform: scale(1.2);
  }
  & .modal-btn:hover {
    background: transparent;
    color: var(--clr-primary-5);
  }

  @media screen and (max-width: 1150px) {
    & .modal-container {
      padding: 40px 20px 20px 20px;
      width: 94%;
    }
  }

  @media screen and (max-width: 790px) {
    & .chart-legends {
      position: static;
    }

    & .close-btn {
      position: absolute;
      top: 2px;
      right: -2px;
    }
  }
}

/* end modal CSS */
